<div class="wizard-step new-load-balancer-general">
    <div class="wizardTitle"><h3 data-hide="loadBalancer.hide_ribbons" data-msg="create_load_balancer_healthcheck"></h3></div>
    <div class="launch-wizard-type-main-contents">

        <div class="launch-wizard-type-option">
            
            <div class="form-row clearfix">
                <label class="required-label" for="loadBalancerName" data-msg="create_scaling_group_general_name"></label>
                <input data-hide="editing" type="text" name="name" id="loadBalancerName" data-value="loadBalancer.name" data-tooltip="create_scaling_group_general_name_tip" data-on-keydown="change" data-on-blur="change"></input>
                <span data-show="editing" data-text="loadBalancer.name"></span>
                <div class="field-error" data-text="loadBalancerErrors.name"></div>
            </div>

        </div>
    </div>
</div>
<!-- END .wizard-step -->
