<div>
	<div class="selected-resources">
      <table>
      <tbody>
          <tr>
              <th class="required-th" data-msg="scaling_table_expanded_scaling_policy_name"></th>
              <th class="required-th" data-msg="scaling_table_expanded_scaling_policy_action"></th>
              <th class="required-th" data-msg="scaling_table_expanded_scaling_policy_amount"></th>
              <th class="required-th" data-msg="scaling_table_expanded_scaling_policy_measure"></th>
              <th data-msg="scaling_table_expanded_scaling_policy_alarm"></th>
              <th></th>
          </tr>
          <tr data-each-item="selected" data-class-edit-tags-deleted="item._deleted">
              <td><span data-text="item.name" ></span></td>
              <td><span data-text="item.display_action"></span></td>
              <td><span data-text="item.amount"></span></td>
              <td><span data-text="item.display_measure"></span></td>
              <td><span data-text="item.alarm"></span></td>
              <td>
                <div class="icon_delete tag-control" data-on-click="delete" data-tooltip="create_scaling_group_policies_advanced_del_tip"></div>
              </td>
              <td>
                <div class="icon_cancel tag-control" data-on-click="undoDelete" data-tooltip="create_scaling_group_policies_advanced_undo_tip" data-show="item._deleted"></div>
              </td>
          </tr>
          <tr>
              <td><input type="text" class="name-textinput" data-tooltip="create_scaling_group_policies_advanced_policyname_tip" data-value="toAdd.name"></td>
              <td>
                  <select data-value="toAdd.action" data-tooltip="create_scaling_group_policies_advanced_policyname_action_tip">
                      <option value="SCALEDOWNBY" data-msg="create_scaling_group_policy_action_scale_down"></option>
                      <option value="SCALEUPBY" data-msg="create_scaling_group_policy_action_scale_up"></option>
                      <option value="SETSIZE" data-msg="create_scaling_group_policy_action_set_size"></option>
                  </select>
              </td>
              <td><input type="text" class="short-textinput" data-value="toAdd.amount" data-tooltip="create_scaling_group_policies_advanced_policyname_amount_tip"></td>
              <td>
                  <select data-value="toAdd.measure" data-tooltip="create_scaling_group_policies_advanced_policyname_measure_tip">
                      <option value="percent" data-msg="create_scaling_group_policy_measure_percent"></option>
                      <option value="instances" data-msg="create_scaling_group_policy_measure_instance"></option>
                  </select>
              </td>
              <td style="position:relative">
                  <select class="alarm-select" data-value="toAdd.alarm" data-tooltip="create_scaling_group_policies_advanced_policyname_alarm_tip">
                      <option data-each-item="alarms" data-value="item.name" data-text="item.name" ></option>
                  </select><br/>
                  <!--<span data-msg="or_label"></span>--><a class="create-alarm-link" data-on-click="createAlarm" data-msg="create_alarm_dialog_header"></a>
              </td>
              <td><div class="icon_add" data-on-click="add" data-tooltip="create_scaling_group_policies_advanced_add_tip"></div></td>
          </tr>
      </tbody>
      </table>
		</div>
</div>
