<div class="wizard-step">
    <div class="wizardTitle"><h3 class="required-label" data-msg="launch_instance_section_header_image"></h3></div>
        <div id="launch-wizard-image-main-contents">
            <div data-ui-vsearch="search"></div>
            <div id="launch-wizard-image-table">
                <div id="launch-images_wrapper" class="dataTables_wrapper">
                    <div style="float:left;" class="wizard-section-label required-label" data-msg="launch_instance_image_table_header"></div>
                    <div id="table-wrapper" >
                        <div id="launch-images" class="wizard-step-scrollcontainer scrollable"></div>

                        <div class="field-error" data-text="launchConfigErrors.image_id"></div>

                        <div style="visibility: hidden;" class="dataTables_processing" id="launch-images_processing">
                          <img src="images/dots32.gif"> &nbsp; <span data-msg="processing_data"></span>
                        </div>
                    </div>
                </div>
            <div>
        </div>
    </div>
</div>
