<div id="instance-table">
  <div class="dataTables_wrapper" id="instances_wrapper">
    <div class="table_instances_header"></div>
    <div class="euca-table-filter" id="instance_state-filter"></div>
    <div class="clear"></div>
    <div class="table_instances_top euca-table-length clearfix">
      <div class="euca-table-add">
        <a id="table-instances-new" class="button" href="#" data-msg="instance_create"></a>
      </div>
      <div class="euca-table-extra">
      </div>
      <div class="euca-table-action actionmenu">
      </div>
      <div class="euca-table-size">
        <span id="table_instances_count"></span>&nbsp;
        <span data-msg="showing_label"></span>
        <a href="#" class="show selected" data-on-click="adjust_display_count">10</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">25</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">50</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">100</a>
      </div>
    </div>

    <div id="instances_processing" class="dataTables_processing" style="visibility: hidden;"></div>

    <table class="display dataTable" id="instances">
      <thead>
        <tr id="rowheader" role="row">
          <th id="columnheader-0" colspan="1" rowspan="1" class="sorting_disabled checkbox-cell" role="columnheader" style="width: 3%;">
            <input type="checkbox" id="instances-check-all" data-checked="is_check-all" data-on-click="clicked_check_all_callback">
          </th>
          <th id="columnheader-1" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 10%;" data-msg="inst_tbl_hdr_instance" data-on-click="sort_items"></th>
          <th id="columnheader-2" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 5%;" data-msg="inst_tbl_hdr_state" data-on-click="sort_items"></th>
          <th id="columnheader-3" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 12%;" data-msg="inst_tbl_hdr_image_id" data-on-click="sort_items"></th>
          <th id="columnheader-4" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 14%;" data-msg="inst_tbl_hdr_availability_zone" data-on-click="sort_items"></th>
          <th id="columnheader-5" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 12%;" data-msg="inst_tbl_hdr_public_ip" data-on-click="sort_items"></th>
          <th id="columnheader-6" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 12%;" data-msg="inst_tbl_hdr_private_ip" data-on-click="sort_items"></th>
          <th id="columnheader-7" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 10%;" data-msg="inst_tbl_hdr_keyname" data-on-click="sort_items"></th>
          <th id="columnheader-8" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 12%;" data-msg="inst_tbl_hdr_sgroup" data-on-click="sort_items"></th>
          <th id="columnheader-9" class="sorting" role="columnheader" tabindex="0" aria-controls="instances" rowspan="1" colspan="1" style="width: 10%;" data-msg="inst_tbl_hdr_launch_time" data-on-click="sort_items"></th>
        </tr>
      </thead>
      <tbody data-each-item="items">
      <tr data-class="get_table_row_class" data-on-click="clicked_row_callback">
        <td class="checkbox-cell">
          <input type="checkbox" class="checkbox-input" data-checked="item.clicked" data-id="item.id">
        </td>
        <td style="white-space: nowrap;">
          <a data-title="display_resource_id < item.display_id" class="twist" data-class-expanded="item.expanded" data-text="item.display_id" data-on-click="expand_row"></a>
        </td>
        <td>
          <div data-class="get_html_class_status < item.state"></div>
        </td>
        <td data-text="item.image_id"></td>
        <td class="wrap-content" data-text="item.availability_zone"></td>
        <td class="wrap-content" data-text="item.public_dns_name"></td>
        <td class="wrap-content" data-text="item.private_dns_name"></td>
        <td class="wrap-content" data-text="item.key_name"></td>
        <td class="wrap-content" data-text="item.group_name"></td>
        <td data-text="item.launch_time"></td>
      </tr>
      <tr class="expanded" data-show="item.expanded">
        <td class="expanded_td" colspan=10 data-html="expanded_row_callback < item.expanded"><td>
      </tr>
      </tbody>
    </table>

    <div class="dataTables_paginate paging_full_numbers" id="instances_paginate">
      <a data-class="get_paginate_button_class_go_to_first" id="instances_first" data-msg="pagination_placeholder_button_first" data-on-click="adjust_display_page"></a>
      <a data-class="get_paginate_button_class_go_to_previous" id="instances_previous" data-msg="pagination_placeholder_button_previous" data-on-click="adjust_display_page"></a>
      <span data-each-page="pages">
        <a data-class="get_paginate_button_class_index" data-text="page.index" data-on-click="adjust_display_page"></a>
      </span>
      <a data-class="get_paginate_button_class_go_to_next" id="instances_next" data-msg="pagination_placeholder_button_next" data-on-click="adjust_display_page"></a>
      <a data-class="get_paginate_button_class_go_to_last" id="instances_last" data-msg="pagination_placeholder_button_last" data-on-click="adjust_display_page"></a>
    </div>
    <div class="clear"></div>
  </div>
</div>

