<div id="sgroup-table">
  <div class="dataTables_wrapper" id="sgroups_wrapper">
    <div class="table_sgroups_header"></div>
    <div class="euca-table-filter" id="sgroup_state-filter"></div>
    <div class="clear"></div>
    <div class="table_sgroups_top euca-table-length clearfix">
      <div class="euca-table-add">
        <a id="table-sgroups-new" class="button" href="#" data-msg="sgroup_create"></a>
      </div>
      <div class="euca-table-extra">
      </div>
      <div class="euca-table-action actionmenu">
      </div>
      <div class="euca-table-size">
        <span id="table_sgroups_count"></span>&nbsp;
        <span data-msg="showing_label"></span>
        <a href="#" class="show selected" data-on-click="adjust_display_count">10</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">25</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">50</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">100</a>
      </div>
    </div>

    <div id="sgroups_processing" class="dataTables_processing" style="visibility: hidden;"></div>

    <table class="display dataTable" id="sgroups">
      <thead>
        <tr id="rowheader" role="row">
          <th id="columnheader-0" colspan="1" rowspan="1" class="sorting_disabled checkbox-cell" role="columnheader" style="width: 3%;">
            <input type="checkbox" id="sgroups-check-all" data-checked="is_check-all" data-on-click="clicked_check_all_callback">
          </th>
          <th id="columnheader-1" class="sorting" role="columnheader" tabindex="0" aria-controls="sgroups" rowspan="1" colspan="1" style="width: 47%;" data-msg="sgroup_tbl_hdr_name" data-on-click="sort_items"></th>
          <th id="columnheader-2" class="sorting" role="columnheader" tabindex="0" aria-controls="sgroups" rowspan="1" colspan="1" style="width: 50%;" data-msg="sgroup_tbl_hdr_description" data-on-click="sort_items"></th>
        </tr>
      </thead>
      <tbody data-each-item="items">
      <tr data-class="get_table_row_class" data-on-click="clicked_row_callback">
        <td class="checkbox-cell">
          <input type="checkbox" class="checkbox-input" data-checked="item.clicked" data-id="item.id">
        </td>
        <td class="wrap-content">
          <a data-title="item.id" class="twist" data-class-expanded="item.expanded" data-text="item.name" data-on-click="expand_row"></a>
        </td>
        <td data-text="item.description"></td>
      </tr>
      <tr class="expanded" data-show="item.expanded">
        <td class="expanded_td" colspan=3 data-html="expanded_row_callback < item.expanded">hi, this is an expanded row <td>
      </tr>
      </tbody>
    </table>

    <div class="dataTables_paginate paging_full_numbers" id="sgroups_paginate">
      <a data-class="get_paginate_button_class_go_to_first" id="sgroups_first" data-on-click="adjust_display_page">First</a>
      <a data-class="get_paginate_button_class_go_to_previous" id="sgroups_previous" data-on-click="adjust_display_page">Previous</a>
      <span data-each-page="pages">
        <a data-class="get_paginate_button_class_index" data-text="page.index" data-on-click="adjust_display_page"></a>
      </span>
      <a data-class="get_paginate_button_class_go_to_next" id="sgroups_next" data-on-click="adjust_display_page">Next</a>
      <a data-class="get_paginate_button_class_go_to_last" id="sgroups_last" data-on-click="adjust_display_page">Last</a>
    </div>
    <div class="clear"></div>
  </div>
</div>

