<div id="scaling-topselector">
  <div class="scalingtab ">
    <a href="#scaling" data-msg="scalingtab_scaling_groups"></a>
  </div>
  <div class="scalingtab active">
    <a href="#launchconfig" data-msg="scalingtab_launch_configurations"></a>
  </div>
</div>
<div id="launchconfig-table">
  <div class="dataTables_wrapper" id="launchconfig_wrapper">
    <div class="table_launchconfig_header"></div>
    <div class="euca-table-filter" id="launchconfig_state-filter"></div>
    <div class="clear"></div>
    <div class="table_launchconfig_top euca-table-length clearfix">
      <div class="euca-table-add">
        <a id="table-launchconfig-new" class="button" href="#" data-msg="launch_config_create"></a>
      </div>
      <div class="euca-table-extra">
      </div>
      <div class="euca-table-action actionmenu">
      </div>
      <div class="euca-table-size">
        <span data-show="showLoader" data-msg="launch_config_landing_page_loading"></span> 
        <img src="/images/dots32.gif" data-show="showLoader">
        <span data-text="recordCount < collection"></span>&nbsp;
        <span data-msg="showing_label"></span>
        <a href="#" class="show selected" data-on-click="adjust_display_count">10</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">25</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">50</a>&nbsp;|&nbsp;
        <a href="#" class="show" data-on-click="adjust_display_count">100</a>
      </div>
    </div>

    <div id="launchconfig_processing" class="dataTables_processing" style="visibility: hidden;"></div>

    <table class="display dataTable" id="launchconfig-table-content">
      <thead>
        <tr id="rowheader" role="row">
          <th id="columnheader-0" colspan="1" rowspan="1" class="sorting_disabled checkbox-cell" role="columnheader" style="width: 3%;">
            <input type="checkbox" id="launchconfig-check-all" data-checked="is_check-all" data-on-click="clicked_check_all_callback">
          </th>
          <th id="columnheader-1" class="sorting" role="columnheader" tabindex="0" aria-controls="launchconfig-table-content" rowspan="1" colspan="1" style="width: 20%;" data-msg="launch_config_tbl_hdr_name" data-on-click="sort_items"></th>
          <th id="columnheader-2" class="sorting" role="columnheader" tabindex="0" aria-controls="launchconfig-table-content" rowspan="1" colspan="1" style="width: 17%"; data-msg="launch_config_tbl_hdr_image" data-on-click="sort_items"></th>
          <th id="columnheader-3" class="sorting" role="columnheader" tabindex="0" aria-controls="launchconfig-table-content" rowspan="1" colspan="1" style="width: 20%;" data-msg="launch_config_tbl_hdr_key" data-on-click="sort_items"></th>
          <th id="columnheader-4" class="sorting" role="columnheader" tabindex="0" aria-controls="launchconfig-table-content" rowspan="1" colspan="1" style="width: 20%;" data-msg="launch_config_tbl_hdr_security_group" data-on-click="sort_items"></th>
          <th id="columnheader-5" class="sorting" role="columnheader" tabindex="0" aria-controls="launchconfig-table-content" rowspan="1" colspan="1" style="width: 20%;" data-msg="launch_config_tbl_hdr_created_time" data-on-click="sort_items"></th>
        </tr>
      </thead>
      <tbody data-each-item="items">
      <tr data-class="get_table_row_class" data-on-click="clicked_row_callback">
        <td class="checkbox-cell">
          <input type="checkbox" class="checkbox-input" data-checked="item.clicked" data-id="item.name">
        </td>
        <td class="wrap-content">
          <a class="twist" data-class-expanded="item.expanded" data-text="item.name" data-on-click="expand_row"></a>
        </td>
        <td class="wrap-content" data-text="item.display_image_id"></td>
        <td class="wrap-content" data-text="item.key_name"></td>
        <td class="wrap-content" data-text="item.group_name"></td>
        <td data-text="item.created_time"></td>
      </tr>
      <tr class="expanded" data-show="item.expanded">
        <td class="expanded_td" colspan=6 data-html="expanded_row_callback < item.expanded"><td>
      </tr>
      </tbody>
    </table>

    <div class="dataTables_paginate paging_full_numbers" id="launchconfig_paginate">
      <a data-class="get_paginate_button_class_go_to_first" id="launchconfig_first" data-msg="pagination_placeholder_button_first" data-on-click="adjust_display_page"></a>
      <a data-class="get_paginate_button_class_go_to_previous" id="launchconfig_previous" data-msg="pagination_placeholder_button_previous" data-on-click="adjust_display_page"></a>
      <span data-each-page="pages">
        <a data-class="get_paginate_button_class_index" data-text="page.index" data-on-click="adjust_display_page"></a>
      </span>
      <a data-class="get_paginate_button_class_go_to_next" id="launchconfig_next" data-msg="pagination_placeholder_button_next" data-on-click="adjust_display_page"></a>
      <a data-class="get_paginate_button_class_go_to_last" id="launchconfig_last" data-msg="pagination_placeholder_button_last" data-on-click="adjust_display_page"></a>
    </div>
    <div class="clear"></div>
  </div>
</div>

