<div class="wizard-step">
<div class="wizardTitle"><h3 class="required-label" data-msg="launch_instance_section_header_type">Type</h3></div>
<div id="launch-wizard-type-main-contents">

  <div class="form-row clearfix">
    <label class="required-label" for="launch-instance-names" data-msg="create_launch_config_general_name">Launch configuration name</label>
    <input data-value="model.lc_name" id="launch-instance-names" title="Instance name(s)" type="text">
  </div>
  <div class="field-error" data-text="model.errors.lc_name"></div>
<div id="launch-wizard-type-size">
<div class="launch-wizard-select form-row">
        <label for="launch-instance-type-size" data-msg="launch_instance_type_size_label">Instance size</label>
        <select  data-value="model.instance_type" id="launch-instance-type-size" class="wizard-selection-content">
            <option data-each-type="model.types" data-value="type.name" data-text=":formatType" data-selected=":isSelected < model.instance_type"></option>
         </select>
</div>
</div>
<div id="launch-wizard-type-options">
</div>
</div>
